/*  - grid fraction - 

	Using fr makes it easier to prevent grid items from overflowing the boundaries of the grid
*/
.grid-fraction {
	display: grid;
	border: 2px blue solid;
	width: 400px;
	height: 500px;
	grid-template: 40% 50% 50px / 100px 50% 200px; 
  }
  /*The row takes the 500px(height), while the column takes the 400px width
  	- The rows are splitting up the available 400 pixels of height into four parts. 
	  The first row gets two of those parts, the second row gets one, 
	  and the third row gets one. 
	  Therefore the first row is 200 pixels tall, 
	  and the second and third rows are 100 pixels tall.
  */

  .boxing {
	background-color: beige;
	color: black;
	border-radius: 5px;
	border: 2px dodgerblue solid;
  }